$color-light: #fff;
$color-dark: #2f3542;
$color-success: #26de81;
$color-warning: #e1644e;
$gb: #F2EEE8;
$dark: #383A41;
$red: #EB6D6D;
$blue: #5E7FDC;

$font-text: 'Poppins', sans-serif;

$radius: 5px;
$base-size: 12px;
$transition: all 0.5s;
